*{
    box-sizing: border-box;
}
@keyframes prim{
    0% {color: aliceblue ;}
    25% {color: rgb(25, 25, 218);}
    50% {color: brown;}
    75% {color: aquamarine;}
    100% {color: aliceblue;}
}


body{
    margin: 30px;
}
h1{
    font-family: 'Chilanka', cursive;
}
a{
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a:hover{
    text-decoration: line-through;
    text-transform: uppercase;
    text-decoration-color: lightcoral;
    transition-duration: 1s;
}

ul {
    list-style-type: none;
}
input,label{
    display:block;
}
.prim{
    animation-name: prim;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.prime{
    background-image: url('maxresdefault\ \(1\).jpg');
}


